# The files indicated will not be pushed
.gitignore

# Temporary files
./temp
./tmp
*~
'#*#'
.#*

# Coding-style-checker files
*.log

# C compiled files or output files and lib
*.o
*.a
a.out
[project-exec]

# Unit_tests files
*.gcda
*.gcno
*.gcov
unit_tests

# Valgrind files
vgcore.*

# Software folders
.vscode
.idea

# Project informations files
*.pdf

# Testing files
foo.txt

# Backup files
*.old
